@use "./base" as *;

.todo-app {
    --elt-height: 3rem;
    --elt-pad-x: 1rem;
    --elt-radius: 5px;
    --spacing: 1rem;
    --time: 200ms;

    color: $clr-font;
    position: relative;
    padding-bottom: calc(var(--elt-height) + var(--spacing));

    &__input,
    &__item,
    &__tabs,
    &__clear,
    &__counter {
        padding-left: var(--elt-pad-x);
        padding-right: var(--elt-pad-x);
        height: var(--elt-height);
        line-height: var(--elt-height);
    }

    &__input {
        background-color: $clr-app-bg;
        width: 100%;
        border-radius: var(--elt-radius);
        border: none;
        margin-bottom: var(--spacing);
    }

    &__list {
        background-color: $clr-app-bg;
        min-height: calc(var(--elt-height) * 5);
        border-radius: var(--elt-radius) var(--elt-radius) 0 0;
        overflow: hidden;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid rgba($clr-font, 0.5);
    }

    &__footer {
        font-size: 0.8rem;
        background: $clr-app-bg;
        display: flex;
        justify-content: space-between;
        border-radius: 0 0 var(--elt-radius) var(--elt-radius);
    }

    &__tabs {
        position: absolute;
        background-color: $clr-app-bg;
        border-radius: var(--elt-radius);
        top: calc(100% - var(--elt-height));
        left: var(--elt-pad-x);
        right: var(--elt-pad-x);
        text-align: center;
    }

    &__tab {
        margin: 0 0.75rem;
        transition: color var(--time) ease;
        cursor: pointer;
    }

    &__counter {
        border-radius: 0 0 0 var(--elt-radius);
    }

    &__clear {
        text-align: right;
        border-radius: 0 0 var(--elt-border-radius) 0;
        transition: color var(--time) ease;
        cursor: pointer;
    }

    &__tab:hover,
    &__clear:hover {
        color: $clr-active;
    }

    &__checkbox {
        display: none;
    }

    &__close {
        padding: 0.5rem;
        background: url(../images/icon-cross.svg) center center / contain
            no-repeat;
        opacity: 0;
        transition: opacity var(--time) ease;
    }

    &__item:hover .todo-app__close {
        opacity: 1;
    }

    &__label {
        --size: 1.25rem;
        position: relative;
        flex-grow: 1;
        cursor: pointer;
        padding-left: 3rem;
        margin-right: 1rem;
        transition: color var(--time) ease;
    }

    &__label::before {
        content: "";
        position: absolute;
        top: calc(50% - var(--size) / 2);
        left: 0;
        height: var(--size);
        width: var(--size);
        border: 1px solid;
        border-color: $clr-font;
        border-radius: 50%;
        background-clip: border-box;
        box-shadow: inset 0 0 0 var(--size) $clr-app-bg;
        background: url(../images/icon-check.svg) center/ 50% no-repeat,
            linear-gradient(120deg, $clr-gr-1, $clr-gr-2) center center / 200%
                200%;
        transition: border-color var(--time) ease, box-shadow var(--time) ease;
    }

    &__label:hover::before,
    &__checkbox:checked + .todo-app__label::before {
        border-color: transparent;
    }

    &__checkbox:checked + .todo-app__label::before {
        box-shadow: none;
    }

    &__checkbox:checked + .todo-app__label {
        color: rgba($clr-font, 0.2);
        text-decoration: line-through;
    }
}

@media (min-width: 768px) {
    .todo-app {
        padding-bottom: 0;

        &__tabs {
            position: static;
            background-color: transparent;
        }
    }
}
